.none {
    display: none;
}

.navbar {
    margin: 20px 0px 20px 0px;
}

.navbar_btn {
    margin: 0px 10px 0px 10px;
    padding: 7px;
    width: 100px;
    border-radius: 8px;
    border: solid 1px #aaaaaa;
    font-size: larger;
}

.navbar_btn:hover{
    background-color: #dddddd;
}

.flex_center {
    display: flex;
    align-items: center;
}

.text_center {
    text-align: center;
}

.icon {
    width: 170px;
    height: 100%;
    margin: 15px;
}

.trophy {
    position: relative;
    margin: 15px;
}

.trophy_text {
    position: absolute;
    top: 6%;
    width: 100%;
    font-size: larger;
    color: white;
    text-shadow: black 1px 1px 0, black -1px -1px 0, black -1px 1px 0, black 1px -1px 0, black 0px 1px 0, black 0 -1px 0, black -1px 0 0, black 1px 0 0;;
}

.name {
    font-size: 25px;
}

.rating_block {
    position: relative;
    width: 175px;
}

.rating_num {
    position: absolute;
    top: 10%;
    right: 6%;
    color: white;
    font-size: 180%;
}

.c_img {
    width: 100px;
    margin: 5px;
}

.class_img {
    margin: 5px;
}