.square {
    position: relative;
    background-color: var(--bg-color);
    width: 10%;
    padding: 4px;
    margin: 4px;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #55555599;
}

.wd {
    color: white;
}

.square .img_border {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: inherit;
}

.square .song_img {
    display: block;
    filter: brightness(var(--brightness)) blur(0.8px);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.square .song_title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    width: 90%;
    top: 5%;
    left: 5%;
    margin: 2px;
    font-size: 14px;
}

.square .Achievements{
    position: absolute;
    bottom: 0%;
    right: 10%;
    font-size: 22px;
    font-weight: bold;
    color: var(--wdcolor)
}